.card {
      width: 30%;
      margin: 100px auto;
      text-align: center;
      background-color: white;
      padding-bottom: 20px;
      .cardImg {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .cardBody {
        padding: 48px;
        span {
          color: rgb(253, 164, 3);
        }
        h5 {
          font-size: 25px;
        }
      }
      .cardFooter {
        display: flex;
        justify-content: center;
        gap: 20px;
        button {
          a {
            text-decoration: none;
            color: white;
          }
        }
      background-color: white;

      }
    }